<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Skill</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/companies">Company</a>
                    <a class="nav-link active" aria-current="page" href="/skills">Skill</a>
                    <a class="nav-link" href="/candidates">Candidate</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="mt-5">
        <div class="container row col-md-8 offset-md-2">
            <div class="mb-5">
                <h1>Skills</h1>
                <a th:href="@{/skills/new}">Create skill</a>
            </div>

            <div>
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="skill, status : ${skills}">
                        <tr>
                            <th th:text="${status.index + 1}"></th>
                            <th th:text="${skill.skillName}"></th>
                            <th th:text="${skill.skillDescription}"></th>
                            <th th:text="${skill.type.name().toLowerCase()}"></th>
                            <th>
                                <a th:href="@{/skills/update/{id}(id=${skill.id})}">Update</a>
                                <a th:href="@{/skills/delete/{id}(id=${skill.id})}">Delete</a>
                            </th>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>